<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title></title>
	<link rel="stylesheet" type="text/css" href="js/elementui/index.min.css">
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/elementui/index.min.js"></script>
	<script type="text/javascript" src="js/jquery-1.9.0.js"></script>
	<script type="text/javascript" src="js/record.js"></script>
</head>
<body>
	<div id="app" v-cloak>
		<ul>
			<li v-for="item in obj.item">
				{{item.name}}：{{item.sex}}岁 <button @click="set(item,'sex',20)">修改name</button>
			</li>
		</ul>
		<button @click="sets(obj.item,'sex',[20,21,22])">集体修改name</button>
		<button @click="updateAttr(obj.item)">setAttrs集体修改name</button>
		<hr>
		<ul>
			<li v-for="item in obj.bas">
				{{item.cp}}：{{item.address}} <button @click="set(item,'address','上海')">修改address</button>
			</li>
		</ul>
		<hr>
		历史记录({{record.history_index}})
		<ul>
			<li v-for="(item,index) in record.history">
				{{index+1==record.history_index?"●":""}}{{JSON.stringify(item)}}
			</li>
		</ul>
	</div>
	<script type="text/javascript">
		var app=new Vue({
			el:"#app",
			data:{
				obj:{
					msg:123,
					item:[
						{name:"张三",sex:10},
						{name:"李四",sex:11},
						{name:"王麻子",sex:12},
					],
					bas:[
						{cp:"产品1",address:"北京"},
						{cp:"产品2",address:"天津"},
						{cp:"产品3",address:"重庆"},
					]
				}
			},
			methods:{
				set(obj,attr,val){
					var _this=this;
					record.start([obj],[attr]);
					obj[attr]=val;
					record.end();
				},
				sets(objs,attr,vals){
					var _this=this;
					record.start(objs,[attr]);
					objs.forEach((o,i)=>{
						o[attr]=vals[i];
					})
					record.end();
				},
				updateAttr(items){
					var _this=this;
					var sets=[];
					var rst=record.start(items,["sex"]);
					items.forEach((o,i)=>{
						o.sex=i+1;
					})
					var rst2=record.end();

					console.log(JSON.stringify(rst));
					console.log(JSON.stringify(rst2));
				},
			},
			created(){

			},
			mounted(){
				var _this=this;
				$(window).keydown(function(e){
					// 90 ctrl+z
					if(e.ctrlKey&&e.keyCode==90){
						record.ctrlz();
					}
					// 89 ctrl+y
					if(e.ctrlKey&&e.keyCode==89){
						record.ctrly();
					}
				})
			}
		});
	</script>
</body>
</html>